.footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    margin-top: 100px;

    width: 100%;
    height: 400px;
    
    background-color: #f3f3f3;
}

.footer_in {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin: 0px auto;
    padding-top: 30px;

    width: 1500px;
}

.footer_address {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;

    width: 400px;
    height: 200px;
}

.footer_address p {
    font-size: 13px;
    color: #999;
}

.footer_nav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    width: 620px;
}

.footer_link {
    display: flex;
    justify-content: space-between;

    width: 600px;
}

.footer_link_in {
  padding-top: 15px;

  color: #999;
}

.footer_link_in li {
    padding-top: 5px;

    color: #999;

    cursor: pointer;
}

.footer_line {
    width: 100%;
    height: 80px;

    border-top: 1px solid rgb(221, 214, 214);
}

.footer_line_in {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    margin: 0px auto;

    width: 1500px;
    height: 80px;
}

.footer_line_in p{
    color: #999;
}

.footer_line_in button{
    border: none;

    color: #999;

    cursor: pointer;
}

