.news {
    display: flex;
    justify-content: space-between;

    margin: 0px auto;
    padding-top: 120px;

    width: 1500px;
}

.news_group {
    width: 400px;

}

.news_group img{
    cursor: pointer;

}

.news_title {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding-top: 20px;

    width: 170px;
}

.news_title p {
    font-weight: 700;
}

.news_title p:nth-child(3) {
    font-weight: 100;
    color: #AEAEAE;

}

.news_title span {
    width: 1px;
    height: 9px;

    background-color: #ccc;
}

.news_group h4{
    padding-top: 20px;

    font-size: 24px;

}

.news_group_text {
    padding-top: 20px;

    font-size: 15px;
    color: #999;
}