
video {
    padding-top: 70px;

    width: 100%;
}


.main {
    margin: 0px auto;

    width: 1500px;
    background-color: #fff;    
}

.main_title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding-top: 50px;

    height: 350px;
}

.main_title h4 {
    font-size: 66px;
    font-weight: 200;
}

.main_title h2 {
    font-size: 66px;
}

.main_title span{
    margin-top: 50px;

    width: 1px;
    height: 50px;

    background-color: #141414;
}

.main_group {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main_text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    height: 450px;

}

.main_text p {
    font-size: 30px;
}

.news {
    margin-top: 350px;

    width: 100%;
    height: 80px;

    background-color: #fff;
}

.news_title {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin: 0px auto;
    padding-top: 40px;

    width: 1500px;

}

.news_title h2{ 
    font-size: 65px;
}

.more {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 90px;

    cursor: pointer;
}

.more p{
    font-size: 24px;
    font-weight: 700;

}

/* content 4 */

.career {
    margin-top: 350px;

    width: 100%;
    height: 80px;

    background-color: #fff;
}

.career_title {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin: 0px auto;

    width: 1500px;

}

.career_title h2{ 
    font-size: 65px;
}

/* video controller */

.controller {
    position: absolute;

    top: 800px;
    right: 300px;

    width: 1280px;
    height: 100px;

}

.controller_group {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;

    height: 90px;
}

.controller_btn {
    cursor: pointer;
}

.controller_bar {
    width: 1280px;
    height: 2px;

    background-color: #fff;
}

.controller_page {
    margin-top: -20px;
    
    color: #fff;
}

.controller_page span {

    color: #ffffff66;
}



