.signIn-group {
    display: flex;
    align-items: center;

}

.input-group {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 200px;
    height: 50px;
}

.signIn-group button {
    width: 100px;
    height: 50px;
}
